# Ejercicio Estad√≠stica Entrevista

![ECI](ECI_Analisis.png)

In [1]:
from tkinter.tix import X_REGION
import pandas as pd
import numpy as np

inicial= [0,11,21,31,41,51,61,71,81,91,101,111,121,131,141,151,None]
final=[10,20,30,40,50,60,70,80,90,100,110,120,130,140,150,None,None]
n_i=[0,1,2,6,15,24,25,13,5,3,1,1,1,0,0,3,None]
ticket=[4,14,24,34,44,54,64,74,84,94,104,114,124,134,144,154,1001]

In [2]:
datos = pd.DataFrame({'pre_inicial': inicial,'pre_final':final,'n_i':n_i})
datos['N_i'] = datos['n_i'].cumsum()
datos['ticket medio']=ticket
datos

    pre_inicial  pre_final   n_i    N_i  ticket medio
0           0.0       10.0   0.0    0.0             4
1          11.0       20.0   1.0    1.0            14
2          21.0       30.0   2.0    3.0            24
3          31.0       40.0   6.0    9.0            34
4          41.0       50.0  15.0   24.0            44
5          51.0       60.0  24.0   48.0            54
6          61.0       70.0  25.0   73.0            64
7          71.0       80.0  13.0   86.0            74
8          81.0       90.0   5.0   91.0            84
9          91.0      100.0   3.0   94.0            94
10        101.0      110.0   1.0   95.0           104
11        111.0      120.0   1.0   96.0           114
12        121.0      130.0   1.0   97.0           124
13        131.0      140.0   0.0   97.0           134
14        141.0      150.0   0.0   97.0           144
15        151.0        NaN   3.0  100.0           154
16          NaN        NaN   NaN    NaN          1001

In [3]:
media=datos['ticket medio'].mean()
mediana=datos['ticket medio'].median()
print('La media es:',media)
print('La mediana es:',mediana)
#la media no es representativa. se aproxima mas la mediana. por eso calculamos la mediana

La media es: 133.23529411764707
La mediana es: 84.0

In [4]:
datos['f_i'] = datos['n_i'] / datos['n_i'].sum()
datos['f_i (%)'] = datos['f_i'] * 100


datos['F_i'] = datos['f_i'].cumsum()
datos['F_i (%)'] = datos['f_i (%)'].cumsum()
datos

,pre_inicial,pre_final,n_i,N_i,ticket medio,f_i,f_i (%),F_i,F_i (%)
0,0.0,10.0,0.0,0.0,4,0.00,0.0,0.00,0.0
1,11.0,20.0,1.0,1.0,14,0.01,1.0,0.01,1.0
2,21.0,30.0,2.0,3.0,24,0.02,2.0,0.03,3.0
3,31.0,40.0,6.0,9.0,34,0.06,6.0,0.09,9.0
4,41.0,50.0,15.0,24.0,44,0.15,15.0,0.24,24.0
5,51.0,60.0,24.0,48.0,54,0.24,24.0,0.48,48.0
6,61.0,70.0,25.0,73.0,64,0.25,25.0,0.73,73.0
7,71.0,80.0,13.0,86.0,74,0.13,13.0,0.86,86.0
8,81.0,90.0,5.0,91.0,84,0.05,5.0,0.91,91.0
9,91.0,100.0,3.0,94.0,94,0.03,3.0,0.94,94.0
10,101.0,110.0,1.0,95.0,104,0.01,1.0,0.95,95.0
11,111.0,120.0,1.0,96.0,114,0.01,1.0,0.96,96.0
12,121.0,130.0,1.0,97.0,124,0.01,1.0,0.97,97.0
13,131.0,140.0,0.0,97.0,134,0.00,0.0,0.97,97.0
14,141.0,150.0,0.0,97.0,144,0.00,0.0,0.97,97.0
15,151.0,NaN,3.0,100.0,154,0.03,3.0,1.00,100.0
16,NaN,NaN,NaN,NaN,1001,NaN,NaN,NaN,NaN

In [5]:
q1 = datos[datos['F_i'] >= 0.25].iloc[0, 0]
print("El cuartil 1 es {:.2f}".format(q1))

El cuartil 1 es 51.00

In [6]:
q3 = datos[datos['F_i'] >= 0.75].iloc[0, 0]
print("El cuartil 3 es {:.2f}".format(q3))

El cuartil 3 es 71.00

In [7]:
q3 = datos[datos['F_i'] >= 0.95].iloc[0, 0]
print("El cuartil 3 es {:.2f}".format(q3))

El cuartil 3 es 101.00